* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-size: 16px;
  overflow-x: hidden;
}

html {
  font-family: $font-primary;
}

:root {
  --category-fix-height: 90px;
  --category-mb: 64px;
}
.container {
  max-width: $wrapper + 30;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  @include bgc($third-color);
  padding: 20px 40px;
  display: inline-block;
  font-weight: bold;
  color: $light-color;
  text-decoration: none;
  border-radius: 28px;
  word-break: break-all;
  @include maxWidth(767px) {
    padding: 18px 34px;
    font-size: 14px;
  }
}

.bg-red {
  color: $red-color;
}
.bg-blue {
  color: $blue-color;
}
.bg-green {
  color: $green-color;
}

.category-pink {
  background-color: #FFECEF;
}
.category-blue {
  background-color: #EAF9FF;
}
.category-yellow{
  background-color: #FFF6D3;
}
.category-green {
  background-color: #E4FFEE;
}
.category-purple {
  background-color: #F4F4FF;
}
.category-orange {
  background-color: #FDEEE4;
}

.block-content {
  &__heading {
    color: red;
    font-size: 36px;
    font-weight: bold;
    color: $primary-color;
    line-height: 1.4;
    word-break: break-all;
  }
  &__desc {
    font-weight: 500;
    font-size: 16px;
    color: $secondary-color;
    line-height: 1.5;
    margin-top: 18px;
  }
  &__heading, &__desc {
    span {
      display: block;
    }
  }
  @include maxWidth(1023px) {
    &__heading {
      font-size: 25px;
      span {
        display: inline-block;
      }
    }
  }
  @include maxWidth(767px) {
    &__heading {
      font-size: 19px;
    }
    &__desc {
      font-size: 14px;
    }
  }
}

.block-reuse {
  &__image {
    margin: auto;
    @include size(var(--category-fix-height));
    border-radius: 50%;
    position: relative;
    img {
      width: 50px;
      @include blockCenter("both");
    }
  }
  &__content {
    text-align: center;
    padding-top: 30px;
    height: calc(100% - var(--category-fix-height));
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
  }
  &__heading {
    font-size: 20px;
    color: $primary-color;
    font-weight: bold;
    @include lineClamp();
    margin-bottom: 14px;
    @include maxWidth(424px) {
      font-size: 18px;
    }
  }
  &__desc {
    font-size: 16px;
    font-weight: 500;
    color: $secondary-color;
    line-height: 1.5;
    @include maxWidth(424px) {
      font-size: 14px;
    }
  }
}
