.question {
  padding-top: 200px;
  &-list {
    padding-top: 65px;
    margin-bottom: -12px;
    max-width: 945px;
    margin: auto;
  }
  &-list__items {
    padding: 17px 45px;
    @include bgc(#f5f7fa);
    margin-bottom: 12px;
    position: relative;
    &:first-child {
      padding: 44px 45px 70px;
    }
    &:not(:first-child) {
      cursor: pointer;
      @include flexbox((
        justify-content: space-between,
        align-items: center
      ));
    }
  }
  &-list__items .block-content__heading {
    font-size: 20px;
    display: inline-block;
  }
  &-list__icon {
    padding-left: 20px;
    font-size: 20px;
  }
  .block-content {
    text-align: center;
    max-width: 650px;
    margin: auto;
  }
  .block-content__desc {
    margin-top: 32px;
  }
  @include maxWidth(1023px) {
    padding-top: 100px;
    .block-content__heading {
      font-size: 25px;
    }
    .block-content__desc {
      font-size: 14px;
    }
    &-list__items .block-content__heading {
      font-size: 18px;
    }
    &-list__items:first-child {
      padding: 45px;
    }
  }
  @include maxWidth(424px) {
    &-list__items, &-list__items:first-child {
      padding: 20px;
    }
    &-list__items .block-content__heading {
      font-size: 16px;
    }
  }
}
