// Color website
$primary-color: #242f51;
$secondary-color: #616368;
$third-color: #2500F9;
$red-color: #F55767;
$blue-color: #2563FF;
$green-color: #40975F;
$light-color: #fff;
$boder-color: #F4F4F4;

// wrapper website
$wrapper: 1140px;

// Font website
$font-primary: 'Poppins', sans-serif;
